.bodyContainer {
    width: 800px;
}

.inputcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

@media only screen and (max-width: 1440px) {
    .bodyContainer {
        width: 700px;
    }
    
    .inputcontainer {
        gap: 30px;
    }
}

@media only screen and (max-width: 780px) {
    .bodyContainer {
        width: 90%;
    }
    
    .inputcontainer {
        display: flex;
        flex-direction: column;
    }
}