.title {
    font-size: 25px;
    font-family: 'tripsans-ultra';
    color: #1DBF73;
    text-align: center;
    margin: 75px 0px 0px 0px;
}

.subtitle {
    font-size: 18px;
    font-family: 'tripsans-bold';
    color: #4A4A4A;
    text-align: center;
    margin-bottom: 50px;
}

.bodycontainer {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0px auto;
    margin-bottom: 25px;
    padding: 30px;
    border-radius: 34px;
    background: #FFFFFF;
    box-shadow: 0px 20px 43px 0px rgba(0, 0, 0, 0.10);
    gap: 35px;
    transition: all 0.3s ease-in 0s
}

.bodycontainer:hover {
    box-shadow: 0px 20px 43px 0px rgba(0, 0, 0, 0.20);
}

.button {
    font-family: 'tripsans-ultra';
    border: none;
    outline: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    background-color: #1DBF73;
    padding: 10px 35px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0px auto 5px auto;
    border-radius: 50px;
    box-shadow: 5px 5px 0px 0px black;
    overflow: auto;
    transition: all 0.3s ease-in 0s;
    width: fit-content;
}


.button:hover {
    box-shadow: 7.5px 5px 0px 0px black;
}

@media only screen and (max-width: 1440px) {
    .title {
        font-size: 20px;
    }
    
    .subtitle {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .button {
        font-size: 16px;
        column-gap: 15px;
    }
}

@media only screen and (max-width: 950px) {
    .title {
        margin: 25px 0px 0px 0px;
    }
}