.bodycontainer {
    width: 500px;
}

.inputcontainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-bottom: 35px;
}

.button {
    width: fit-content !important;
}

@media only screen and (max-width: 1440px) {
    .bodycontainer {
        gap: 25px;
    }

    .dividercontainer {
        padding: 0 20px;
    }
    
    .dividercontainer p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 550px) {
    .bodycontainer {
        gap: 15px;
    }

    .bodycontainer {
        width: 90%;
    }
}