.bodyContainer {
    width: 500px;
}

.inputcontainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
}

@media only screen and (max-width: 550px) {
    .bodyContainer {
        width: 90%;
    }
}