.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 75%;
    margin: 75px auto 25px auto;

}

.container h1 {
    font-size: 30px;
    font-family: 'tripsans-ultra';
    color: var(--primary-color-100);
    text-align: center;
}

.header {
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--black-color-25);
}

.header h2 {
    font-family: 'tripsans-ultra';
}

.header p {
    font-family: 'tripsans-medium';
}

.body {
    display: flex;
    gap: 50px;
    margin-top: 25px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    align-items: center;
    gap: 10px;
}

.menu li {
    list-style: none;
    font-size: 16px;
    font-family: 'tripsans-medium';
    width: 175px;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in 0s;
    cursor: pointer;
}

.menu li:hover {
    background-color: var(--primary-color-50);
}

.bodycontent {
    width: 100%;
    display: grid;
    row-gap: 25px;
    margin-bottom: 50px;
}

.content {
    transition: all 0.3s ease-in 0s;
    border-radius: 8px;
}

.content:hover {
    box-shadow: 4px 4px 4px var(--black-color-15);
}

.toast {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-family: 'tripsans-medium';
    font-size: 18px;
    color: black;
    padding: 15px 20px;
    padding-right: 25px;
    border-radius: 25px;
}

.toastsuccess {
    background-color: var(--primary-color-100);
}

.toasterror {
    background-color: rgb(255, 88, 97, 100%);
}

.saveSocials {
    width: fit-content;
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 15px;
    border: 2px solid var(--primary-color-100);
    background-color: var(--primary-color-25);
    padding: 7.5px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

.saveSocials:hover {
    border-color: var(--black-color-100);
    color: var(--black-color-100);
    background-color: var(--primary-color-100);
}

.saveSocials h3 {
    font-family: 'tripsans-medium';
    font-size: 16px;
}