.linksContainer a,
.actionButtonsContainer button,
.userContainer p {
    font-family: 'tripsans-ultra';
}

.navbar * {
    transition: all 0.3s ease-in 0s;
}

.navbar {
    padding: 25px 125px 0px 125px;
    display: flex;
    justify-content: space-between;
}

.logoLinksContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 75px;
}

.logo {
    width: 90px;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.linksContainer li {
    list-style: none;
}

.linksContainer a {
    text-decoration: none;
    margin-top: 4px;
    font-size: 16px;
    color: black;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.linksContainer a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    border-radius: 50px;
    left: -100%;
    background-color: var(--primary-color-100);
    transition: all 0.3s ease-in-out;
}

.linksContainer a:hover {
    color: var(--primary-color-100);
}

.linksContainer a:hover::before {
    left: 0;
}

.actionButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
}

.actionButtonsContainer button {
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    cursor: pointer;
}

.login {
    border: none;
    outline: none;
    color: black;
    margin-bottom: 0px;
}

.register {
    background-color: var(--primary-color-100);
    padding: 10px 35px;
    border-radius: 50px;
    box-shadow: 5px 5px 0px 0px var(--black-color-100);
    overflow: auto;
    transition: all 0.3s ease-in 0s;
}


.register:hover {
    box-shadow: 7.5px 5px 0px 0px var(--black-color-100);
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.hamburger div {
    width: 2rem;
    height: 0.2rem;
    background-color: var(--black-color-100);
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userContainer p {
    font-size: 16px;
}

.userContainer i {
    font-size: 20px;
    border-radius: 50%;
    padding: 8px;
    border: 3px solid var(--primary-color-100);
    color: var(--black-color-50);
}

.navbarmobile {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color-75);
    z-index: 28;
}


/* Media Query */
@media only screen and (max-width: 1440px) {
    .navbar {
        padding: 25px 50px 0px 50px;
    }

    .logo {
        width: 70px;
    }

    .logoLinksContainer {
        column-gap: 75px;
    }

    .linksContainer {
        column-gap: 50px;
    }

    .linksContainer a {
        font-size: 16px;
    }

    .linksContainer a::before {
        height: 3px;
    }

    .actionButtonsContainer {
        column-gap: 50px;
    }


    .actionButtonsContainer button {
        font-size: 16px;
    }

    .actionButtonsContainer button:nth-of-type(2) {
        padding: 7.5px 30px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 1024px) {
    .logoLinksContainer {
        column-gap: 50px;
    }

    .linksContainer {
        column-gap: 40px;
    }

    .actionButtonsContainer {
        column-gap: 40px;
    }
}

@media only screen and (max-width: 950px) {
    .navbar {
        display: none;
    }

    .navbarmobile {
        display: block;
        position: relative;
        /* z-index: 1000; */
    }

    .menuToggle {
        z-index: 30;
    }

    .navbarmobileheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 25px 0px 25px;
    }

    .close {
        opacity: 0;
    }

    .open {
        opacity: 1;
    }

    .linksContainer {
        width: fit-content;
        margin-left: auto;
        transition: all 0.3s ease-in 0s;
        position: absolute;
        z-index: 29;
        right: 0;
    }

    .linksContainer li {
        text-align: right;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 15px;
        padding: 2.5px 15px;
    }

    .linksContainer li a {
        color: black;
    }

    .linksContainer ul {
        padding-right: 35px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .linksContainer a::before {
        right: -100%;
        transition: all 0.3s ease-in-out;
    }

    .linksContainer li:nth-of-type(5),
    .linksContainer li:nth-of-type(6) {
        background-color: var(--primary-color-100);
    }
}

@media only screen and (max-width: 500px) {
    .navbarmobileheader {
        padding: 15px 15px 0px 15px;
    }

    .linksContainer ul {
        padding-right: 25px;
    }
}